#clock {
  animation: slideVert 10s linear alternate infinite, slideHori 10s linear alternate infinite;
}

@keyframes slideVert {
  from {
    top: 0px; /* Starting position for vertical animation */
  }
  to {
    top: calc(100% - 35px); /* Ending position for vertical animation */
  }
}
@keyframes slideHori {
  from {
    left: 0; /* Starting position for horizontal animation */
  }
  to {
    left: calc(100% - 200px); /* Ending position for horizontal animation */
  }
}